<div class="homepage-container">
  <div class="opinion-list">
    <div class="white-bg width-100">
      <%=form_for(@opinion) do |f| %>
      <div class="field">
        <%= f.label :text, "Do you have some opinion on you mind?" %><br />
        <%= f.text_area(
          :text,
          autofocus: true,
          autocomplete: "text",
          class: 'rounded-corners-half width-90 centered-horizontal',
          rows:"5",
          placeholder:"Post a new opinion here..."
          )%>
      </div>
      <%end%>
    </div>
  </div>
  <div class="homepage-right-side">rrrrrrrrrrrrrr</div>
</div>
