$primary-color: rgb(83, 168, 232);
$secondary-color: rgb(33, 50, 70);
$third-color: rgb(84, 105, 126);
$third-color-transparent: rgba(84, 105, 126, 0.5);
$fourth-color: rgb(245, 246, 248);
$white-color: rgb(255, 255, 255);
$black-color: rgb(0, 0, 0);
