@import "variables";

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: 'Poppins', sans-serif;
  color: $black-color;
}

a {
  color: $white-color;
  text-decoration: none;
  margin-right: 20px;

  h1 {
    color: $white-color;
  }

  &:visited {
    color: $white-color;
  }
}

body {
  margin: 0;
  padding: 0;
  width: 100%;
  height: 100vh;
  overflow-x: hidden;
}

main {
  display: grid;
  grid-template-columns: 1fr 5fr;
  height: 100%;
  width: 100%;
}

aside {
  background-color: $secondary-color;
}

header {
  width: 100%;
  height: fit-content;
  background-color: $primary-color;
  margin-bottom: 10px;

  nav {
    width: 90%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin: 0 auto;
    padding-top: 0.5rem;

    h1 {
      height: fit-content;
      width: fit-content;
      padding: 0.5rem;
      border: 1px solid $white-color;
      display: grid;
      place-items: center;
    }
  }
}

.auth-form {
  background-color: $third-color-transparent;
  padding: 5%;
  margin: 2% auto;

  input {
    padding: 0.2rem;
    font-size: 1.2rem;
    outline: none;
    border: none;
    margin-bottom: 10px;
  }

  .remember-me {
    display: grid;
    grid-template-columns: 1fr 3fr;
  }
}

.notice {
  color: $primary-color;
  text-align: center;
  width: 100%;
}

.alert {
  color: $third-color;
  text-align: center;
  width: 100%;
}

.main-content {
  background-color: $fourth-color;
  height: fit-content;
}

table,
.new-event-btn {
  margin: 0 auto;
}

table,
td {
  border: 1px solid $third-color;
  padding: 10px;
}

.title {
  text-align: center;
  margin-top: 3%;
  margin-bottom: 10px;
}

.logo {
  width: 30px;
  height: 30px;
}
